@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
/* Fonts start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Questrial&display=swap');

@font-face {
    font-family: 'Southland';
    src: local('☺'), url('../fonts/Southland.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'IntroDemo';
    src: local('☺'), url('../fonts/IntroDemo-BlackCAPS.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'IntroDemoCond';
    src: local('☺'), url('../fonts/Intro Cond Light Free.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyr';
    src: local('☺'), url('../fonts/helveticaneuecyr_roman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Intro";
    src: url("../fonts/Intro-Regular.eot");
    src: local("Intro Regular"), local("Intro-Regular"),
        url("../fonts/Intro-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Intro-Regular.woff") format("woff"),
        url("../fonts/Intro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Fonts end */

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #333333;

    &.no-scroll {
        overflow: hidden;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

i {
    font-family: fontawesome !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.body {
    overflow-x: hidden;
    position: relative;
}

.container {
    max-width: 1360px;
    padding: 0 15px;
    margin: 0 auto;
}

.page {
    &__btn {
        font-weight: 900;
        font-size: 14px;
        line-height: 17px;
        color: #000;
        padding: 18px 32px;
        border: 1px dashed #000000;
        background-color: #6FFFEE;
        border-radius: 100px;
        cursor: pointer;
    }

    &__title {
        font-weight: 900;
        font-size: 50px;
        line-height: 62px;
        text-transform: uppercase;
        color: #737081;
        position: relative;
        font-family: 'IntroDemo';

        span {
            display: block;
            text-transform: none;
            font-size: 80px;
            line-height: 70px;
            color: #31DAE7;
            transform: rotate(-11.52deg);
            position: absolute;
            top: 50px;
            right: -30px;
            font-family: 'Southland';
        }
    }


}

/* modal start */

.modal {
    background-color: rgba(#000, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;


    &__contact {
        width: 420px;
        padding: 50px 30px;
        background-color: #fff;

        p {
            font-size: 18px;
            line-height: 18px;
            font-family: 'Poppins', sans-serif;
            font-weight: normal;
            font-style: normal;
            color: #333333;
            margin: 20px 0;
        }

        &-title {
            font-size: 25px;
            line-height: 25px;
            margin-bottom: 20px;
            color: #737081;
        }

        &-name,
        &-number,
        &-email {
            display: block;
            width: 100%;
            outline: none;
            margin-bottom: 15px;
            border: none;
            border-bottom: 1px solid #333333;
            padding: 15px;
            font-size: 18px;
            line-height: 18px;
            font-family: 'Poppins', sans-serif;
            font-weight: normal;
            font-style: normal;
            color: #333333;

            &::placeholder {
                font-size: 18px;
                line-height: 18px;
                font-family: 'Poppins', sans-serif;
                font-weight: normal;
                font-style: normal;
                color: #333333;
            }
        }

        &-icons {
            display: flex;
        }

        &-label {
            position: relative;

            i {
                font-size: 50px;
                transition: all .2s linear;
                cursor: pointer;
            }
        }

        &-label + &-label {
            margin-left: 20px;
        }

        &-radio {
            appearance: none;
            position: absolute;

            &:checked {
                & + .fa-telegram {
                    color: #0088cc;
                }

                & + .fa-whatsapp {
                    color: #43d854;
                }

                & + .fa-phone-volume {
                    color: #57c206;
                }
            }
        }


        &-btn {
            margin-top: 30px;
        }
    }

    &__content {
        position: relative;
    }

    &.show {
        display: flex;
    }

    &__close {
        position: absolute;
        top: 30px;
        right: 30px;
        border: none;
        outline: none;
        cursor: pointer;
        background: none;
    }

    &__registration {
        width: 420px;
        padding: 80px 30px 50px;
        background-color: #fff;



        &-title {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 20px;
            color: #737081;
        }

        input {
            display: block;
            width: 100%;
            outline: none;
            margin-bottom: 10px;
            border: none;
            border-bottom: 1px solid #333333;
            padding: 10px;
            font-size: 15px;
            line-height: 18px;
            font-family: 'Poppins', sans-serif;
            font-weight: normal;
            font-style: normal;
            color: #333333;

            &::placeholder {
                font-size: 15px;
                line-height: 18px;
                font-family: 'Poppins', sans-serif;
                font-weight: normal;
                font-style: normal;
                color: #333333;
            }

            &.modal__registration-btn {
                width: 50%;
                margin-top: 20px;
                font-weight: 900;
                font-size: 14px;
                line-height: 17px;
                color: #000;
                padding: 18px 32px;
                border: 1px dashed #000000;
                background-color: #6FFFEE;
                border-radius: 100px;
                cursor: pointer;
            }
        }
    }
}

/* modal end */


/* header start */

.header {
    padding: 10px 0 5px;
    position: fixed;
    z-index: 20;
    right: 0;
    left: 0;
    background-color: #fff;
    transition: all .2s linear;

    &.active {
        box-shadow: 0 0 8px 3px #6FFFEE;
        padding: 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__menu {
        display: flex;
        align-items: center;

        &-item {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: -10px;
                left: 10px;
                background-color: #6FFFEE;
                width: 22px;
                height: 3px;
                opacity: 0;
                transition: opacity .2s linear;
            }

            &:hover::after {
                opacity: 1;
            }
        }

        &-item + &-item {
            margin-left: 25px;
        }

        &-link {
            font-size: 14px;
            line-height: 14px;
            text-transform: uppercase;
            font-family: "Intro";
            font-weight: bold;
        }
    }

    &__btn {
        margin-left: 45px;
    }
}

.burger {
    display: none;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    z-index: 100;

    &.burger--active {
        .burger-line {
            opacity: 0;
            transition: opacity 0s;
        }

        &::after {
            width: 50px;
            transform: translateY(-17px) rotate(-135deg);
        }

        &::before {
            transform: translateY(15px) rotate(135deg);
        }
    }

    &::before,
    &::after {
        content: '';
        transition: transform .2s linear;
        width: 50px;
        height: 6px;
        background-color: #6FFFEE;
        display: block;
        margin-bottom: 10px;
    }

    &::after {
        margin-bottom: 0;
        margin-left: auto;
    }

    &-line {
        background-color: #6FFFEE;
        width: 50px;
        height: 6px;
        display: block;
        margin-bottom: 10px;
        transition: opacity .7s;
    }
}






/* header end */

/* intro start */

.intro {
    margin-top: 120px;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -50px;
        left: 0;
        height: 270px;
        width: 100%;
        background-image: url(../images/intro-decor.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__content {
        max-width: 1013px;
        padding: 162px 0 269px 100px;
    }

    &__title {
        font-weight: 900;
        font-size: 65px;
        line-height: 81px;
        font-family: "IntroDemo";
    }

    &__text {
        font-weight: 900;
        font-size: 65px;
        line-height: 81px;
        font-weight: normal;
        display: block;
        font-family: "IntroDemoCond";
    }

    &__btn {
        margin-top: 85px;
    }
}

/* intro end */

/* welcome start */

.welcome {
    padding: 50px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        background-image: url(../images/welcome-decor-big.png);
        background-repeat: no-repeat;
        width: 160px;
        height: 262px;
        bottom: 40%;
        right: 0;
        z-index: -1;
    }

    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 45px;
        position: relative;
        margin-bottom: 53px;

        &::after,
        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/welcome-decor.png);
            width: 65px;
            height: 65px;
            z-index: -1;
        }

        &::before {
            top: -50px;
            left: 50px;
            z-index: 1;
        }

        &::after {
            top: 250px;
            right: -100px;
            z-index: -1;
        }
    }

    &__img {
        object-position: top;
    }

    &__content {
        max-width: 762px;
        z-index: 5;

        &-title {
            font-weight: 900;
            font-size: 75px;
            line-height: 90px;
            color: #737081;
            text-transform: uppercase;
            font-family: 'IntroDemo';


            span {
                display: block;
                text-transform: none;
                color: #6FFFEE;
                font-family: 'Southland';
            }
        }

        &-text {
            font-size: 24px;
            line-height: 40px;
            opacity: 0.76;
            margin: 24px 0 45px;
            text-align: justify;
        }
    }
}

.scheme__img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

/* welcome end */

/* task start */

.task {
    padding: 100px 0;
    position: relative;

    &__decor {
        position: relative;
        bottom: 0;
        left: -65px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        max-width: 646px;
        margin-bottom: 30px;
    }


    &__text {
        font-weight: 300;
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 60px;
        max-width: 585px;
        font-family: 'IntroDemoCond';

    }

    &__images {
        display: flex;
    }

    &__img {
        position: relative;
        right: 0;
    }


    &__accordion {
        color: #000000;
        width: 600px;

        &-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 14px 70px 14px 0;
            border-bottom: 1px solid rgba(#49455C, 0.43);
            cursor: pointer;
            user-select: none;
            font-weight: bold;
            font-size: 20px;
            line-height: 40px;
            position: relative;

            svg {
                transition: all .2s linear;
                position: absolute;
                top: 50%;
                right: 50px;
                transform: translateY(-50%);
            }

            &.active {
                svg {
                    transform: translateY(-50%) rotate(-45deg);

                    path {
                        fill: #31DAE7;
                    }
                }
            }

            p {
                font-weight: bold;
                font-size: 20px;
                line-height: 40px;
            }
        }

        &-text {
            p {
                font-size: 24px;
                line-height: 40px;
                color: #000;
                max-width: 450px;
            }

            display: none;
            border-bottom: 1px solid rgba(#49455C, 0.43);
            padding: 28px 0 28px 20px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 45px;
                left: 0;
                background-image: url(../images/accordion-text-decor.svg);
                width: 9px;
                height: 9px;
            }
        }
    }
}

/* task end */

/* selection start */

.selection {

    &__title {

        max-width: 933px;
        margin-bottom: 30px;

        &::before {
            content: '';
            position: absolute;
            top: -100px;
            right: 0;
            background-image: url(../images/airplane.svg);
            width: 135.49px;
            height: 120.8px;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & + & {
            margin-top: 10px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 45%;
                background-image: url(../images/start.svg);
                width: 51.81px;
                height: 55.25px;
            }

            .selection__item-img {
                order: -1;
                position: relative;
                top: -80px;
            }
        }

        &-text {
            font-size: 16px;
            line-height: 46px;
            letter-spacing: 0.05em;
            color: #000;
            max-width: 1000px;

            span {
                color: #31DAE7;
            }
        }
    }
}

/* selection end */

/* profession start */

.profession {
    position: relative;
    padding-top: 200px;

    &::before {
        content: '';
        position: absolute;
        top: -80px;
        left: 0;
        background-image: url(../images/dashed-line.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 186.5px;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -125px;
        left: 0;
        background-image: url(../images/profession-decor-bottom.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 175.68px;
        z-index: 2;
    }

    &__inner {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -150px;
            left: -30px;
            background-image: url(../images/planets.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 255px;
            height: 228px;
        }
    }

    &__content {
        max-width: 843px;
        z-index: 3;
    }

    &__img {
        z-index: 3;
    }

    &__title {

        margin-bottom: 30px;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            background-image: url(../images/cloud.svg);
            width: 108px;
            height: 36px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 40px;

        span {
            color: #31DAE7;
            font-weight: bold;
        }
    }

    &__btn {
        margin-top: 70px;
    }
}

/* profession end */

/* studio start */

.studio {
    padding-top: 292px;
    padding-bottom: 260px;
    position: relative;

    background-image: url(../images/studio-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::after {
        content: '';
        position: absolute;
        bottom: -15px;
        left: 0;
        background-image: url(../images/studio-decor-bottom.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        width: 100%;
        height: 175px;
    }

    &__title {
        max-width: 940px;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 24px;
        line-height: 40px;
        color: #000;
        max-width: 733px;
        margin-bottom: 80px;
    }

    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 100px;
        grid-row-gap: 70px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -130px;
            right: 100px;
            background-image: url(../images/clip.svg);
            background-repeat: no-repeat;
            width: 56px;
            height: 77px;
        }
    }

    &__item {
        font-weight: 900;
        font-size: 24px;
        line-height: 30px;

        color: #737081;

        &:nth-child(1),
        &:nth-child(2) {
            max-width: 340px;
        }
    }
}

.price__btn {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: block;
    margin: 80px auto 0;
}

/* studio end */

/* footer start */

.footer {
    padding: 100px 0;
    background-color: rgba(#12DBDE, 0.1);
    color: #000;
    font-family: 'Questrial', sans-serif;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__social {
        width: 235px;

        &-item {
            a {
                margin-bottom: 20px;
            }

            a + a {
                margin-left: 24px;
            }
        }

        &-text {
            font-size: 18px;
            line-height: 155%;
            opacity: 0.6;
            margin: 30px 0 52px;
            text-align: center;
        }

        &-list {
            display: block;
            text-align: center;
            max-width: 216px;
        }
    }

    &__categories {
        max-width: 200px;

        li + li {
            margin-top: 28px;
        }

        &-title {
            font-size: 24px;
            line-height: 25px;
        }

        &-item {
            font-size: 18px;
            line-height: 19px;
        }
    }

    &__contacts {
        max-width: 240px;

        &-title {
            font-size: 24px;
            line-height: 25px;
            margin-bottom: 30px;
        }

        &-item {
            font-size: 18px;
            line-height: 19px;
            padding-left: 40px;
            position: relative;

            & + & {
                margin-top: 30px;
            }

            &::before {
                content: '';
                position: absolute;
                top: -3px;
                left: 0;
                background-repeat: no-repeat;
                background-position: center;
                width: 24px;
                height: 24px;
            }
        }

        &-phone {
            &::before {
                background-image: url(../images/phone-icon.svg);
            }
        }

        &-email {
            &::before {
                background-image: url(../images/message-icon.svg);
            }
        }

        &-place {
            &::before {
                background-image: url(../images/location-icon.svg);
            }
        }
    }

    &__copy {
        display: flex;
        justify-content: center;
        margin-top: 100px;
        font-family: 'helveticaneuecyr';

        p {
            margin-right: 6px;
        }
    }
}

/* footer end */



/* media start */


@media(max-width: 1300px) {

    .welcome::after {
        top: 0;
        z-index: 1;
        bottom: none;
    }

    .task__inner {
        padding-top: 80px;
        flex-direction: column;
    }

    .task__text {
        max-width: 100%;
    }

    .task__accordion {
        width: 80%;
    }

    .task__decor {
        display: none;
    }

    .task__img {
        position: absolute;
    }

    .task__title {
        max-width: 100%;
    }

    .page__title span {
        top: -80px;
        right: 0;
    }

    .selection__title {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .selection__item + .selection__item {
        margin-top: 20px;
    }

    .profession__img {
        display: none;
    }

    .profession__inner {
        justify-content: center;
    }

    .welcome__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profession__inner::before {
        width: 170px;
        height: 150px;
        left: 0;
    }

    .profession__title {
        span {
            top: -100px;
        }
    }

    .welcome__content-title {
        padding-top: 100px;
    }

    .header__btn {
        margin-left: 20px;
    }

    .header__menu-item + .header__menu-item {
        margin-left: 15px;
    }

    .header__menu-link {
        font-size: 13px;
    }
}


@media(max-width: 1250px) {
    .header__btn {
        padding: 14px 25px;
    }

    .header__menu-link {
        font-size: 11px;
    }

    .header__logo img {
        width: 185px;
    }
}

@media(max-width: 1050px) {
    .header__btn {
        margin-left: 10px;
    }

    .header__btn {
        padding: 10px 14px;
    }
}

@media(max-width: 980px) {

    .studio {
        padding-top: 230px;
    }

    .task__img {
        width: 200px;
        top: -150px;
        left: 0;
    }

    .task__accordion {
        width: 100%;
    }

    .task__text {
        margin-bottom: 20px;
    }

    .burger {
        display: block;
    }


    .header__item-box {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 20;
        height: 100vh;
        display: none;
    }

    .header__item-box.active {
        display: block;
    }

    .header__item.active {
        right: 0;
    }

    .header__item {
        position: absolute;
        top: 0;
        bottom: 0;
        right: -200%;
        z-index: 20;
        transition: all 0.2s linear;
        flex-direction: column;
        padding: 200px 50px;
        background-color: rgba(#fff, 0.9);
        min-height: 100vh;
        overflow-y: scroll;
    }


    .header__menu {
        flex-direction: column;
    }


    .header__menu-item {
        margin-bottom: 50px;
        max-width: 300px;
        text-align: center;

        &::after {
            width: 50px;
            height: 5px;
        }
    }

    .header__menu-link {
        font-size: 28px;
        line-height: 35px;

    }

    .header__btn {
        width: 80%;
        padding: 20px 10px;
    }


    .selection__item-text {
        font-size: 15px;
        line-height: 28px;
    }

    .selection__item-img {
        width: 200px;
    }


}

@media(max-width: 800px) {
    .task__accordion-text p {
        font-size: 20px;
        line-height: 25px;
    }

    .studio__inner {
        grid-template-columns: 1fr 1fr;
    }

    .header.active .header__logo img {
        width: 150px;
    }

    .page__title {
        font-size: 35px;
        line-height: 45px;

        span {
            right: 0;
        }
    }

    .profession {
        padding-top: 150px;
    }

    .profession__title {
        margin-bottom: 10px;
    }

    .profession__title::after {
        top: -50px;
    }

    .profession__btn {
        margin-top: 30px;
    }

    .welcome {
        padding: 0;

        &::after {
            top: -50px;
        }
    }
}

@media(max-width: 720px) {

    .intro__content {
        padding: 46px 0 265px 31px;
    }

    .intro__title {
        font-size: 55px;
        line-height: 65px;
    }

    .intro__text {
        font-size: 55px;
        line-height: 65px;
    }


    .welcome {
        text-align: center;

        &::after {
            bottom: 0;
            top: -100px;
        }
    }

    .welcome__img {
        width: 500px;
    }

    .welcome__content-title {
        font-size: 70px;
        line-height: 70px;
    }

    .task {
        padding-bottom: 50px;
    }

    .task__title {
        margin-bottom: 15px;
    }

    .task__text {
        font-size: 20px;
        line-height: 25px;
    }


    .selection__title::before {
        background-size: cover;
        background-position: center;
        width: 90px;
        height: 75px;
        top: -60px;
    }

    .selection__item {
        margin-bottom: 30px;
    }

    .selection__item + .selection__item .selection__item-img {
        top: -10px;
    }

    .selection__item + .selection__item::before {
        top: -20px;
        background-size: cover;
        background-position: center;
        width: 30px;
        height: 30px;
    }

    .selection__item-text {
        line-height: 20px;
    }

    .selection__item-img {
        width: 100px;
    }

    .footer__inner {
        flex-wrap: wrap;
    }

    .footer__social {
        width: 100%;
        text-align: center;

        &-list {
            display: contents;
        }

        &-text {
            margin: 0 0 20px;
        }

        &-item {
            margin: 0 10px;
        }
    }


    .footer__categories {
        margin-top: 50px;
    }

    .footer__contacts {
        margin-top: 50px;
    }
}

@media(max-width: 600px) {

    .modal__registration-form input[type=number],
    .modal__registration-form input[type=text] {
        width: 100%;
    }


    .intro {
        min-height: 75vh;
    }

    .page__title {
        font-size: 30px;
        line-height: 35px;
    }

    .profession__text {
        line-height: 30px;
    }

    .studio__text {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 40px;
    }

    .studio__inner::before {
        top: -360px;
        left: 0;
    }

    .selection__item-img {
        display: none;
    }

    .selection__item {
        margin-bottom: 50px;
    }

    .selection__item + .selection__item::before {
        top: -40px;
    }

    .task__accordion-title p {
        font-size: 17px;
        line-height: 25px;
    }

    .profession__inner::before {
        width: 110px;
        height: 98px;
        top: -140px;
    }

    .studio {
        padding-top: 235px;
        padding-bottom: 230px;
    }

    .studio__inner {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .studio__item:nth-child(1),
    .studio__item:nth-child(2) {
        max-width: 100%;
    }

    .intro__title {
        font-size: 35px;
        line-height: 50px;
    }

    .intro__text {
        font-size: 35px;
        line-height: 50px;
    }

    .intro__btn {
        margin-top: 45px;
    }

    .intro__content {
        padding: 25px 0 265px 0px;
    }
}

@media(max-width: 535px) {

    .modal__contact {
        &-title {
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 10px;
        }
    }

    .modal__contact {
        width: 380px;

    }

    .modal__contact-name, .modal__contact-number, .modal__contact-email {
        margin-bottom: 10px;
        padding: 10px;
    }

    .header__item {
        padding: 170px 10px
    }

    .welcome::after {
        right: -50px;
    }

    .welcome__img {
        width: 400px;
    }

    .welcome__content-title {
        font-size: 55px;

        span {
            font-size: 61px;
        }
    }

    .welcome__content-text {
        font-size: 20px;
        line-height: 35px;
        margin: 10px 0 30px;
    }

    .footer {
        padding: 50px 0;
    }

    .footer__inner {
        flex-direction: column;
        align-items: center;
    }

    .footer__contacts {
        max-width: 180px;
    }
}

@media(max-width: 460px) {



    .modal__close {
        top: 10px;
        right: 10px;
    }

    .modal__contact {
        padding: 45px 15px;
    }

    .modal__contact p {
        font-size: 15px;
        line-height: 15px;
        margin: 15px 0;
    }

    .modal__contact-btn {
        margin-top: 20px;
    }

    .modal__registration {
        width: 400px;
        padding: 60px 20px 25px;
    }

    .modal__registration-title {
        font-size: 18px;
        line-height: 18px;

    }

    .task {
        padding-top: 50px;
    }

    .page__title {
        font-size: 25px;
        line-height: 30px;
    }

    .profession__inner::before {
        width: 90px;
        height: 79px;
    }

    .task__img {
        width: 150px;
        left: -10px;
        top: -140px;
    }

    .welcome::after {
        right: -100px;
    }

    .welcome__content-title {
        font-size: 40px;

        span {
            font-size: 55px;
        }
    }

    .welcome__inner::after {
        right: -50px;
    }

    .welcome__inner::before {
        left: -50px;
    }

    .welcome__content-text {
        font-size: 19px;
        line-height: 31px;
        margin: 0px 0 25px;
    }
}

@media(max-width: 400px) {

    .profession::after {
        bottom: -50px;
    }

    .studio {
        padding-top: 160px;
    }

    .page__title span {
        font-size: 55px;
        line-height: 55px;
    }
}













/* media end */
